body{
  margin: 0;
}
.webgl{
  display: block;
}
#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

#instructions {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  text-align: center;
  font-size: 14px;
  cursor: pointer;
  color: white;
}

#result{
  color: white;
width: 100px;
height: 20px;
position: absolute;
bottom: 0;
left: 0;
}